table {
    width: 100%;
  }

mat-form-field {
    width: 100%;
}

.dv-novo-tecnico {
  margin-top: 20px;
  margin-bottom: 15px;
}

.edit {
  color: rgb(216, 216, 216);
  margin-right: 10px;
}

.delete {
  color: rgb(255, 44, 44);
}