<mat-drawer-container class="background" autosize>
  <div class="logo">
    <img src="assets/img/side-image.png" alt="Help Desk - gvfs" />
  </div>
  <mat-card class="card mat-elevation-z2">
    <mat-card-content>
      <div class="container">
        <form class="form">
          <h1>Acesse a sua conta</h1>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              [formControl]="email"
              required=""
              [(ngModel)]="creds.email"
              name="email"
              matInput
              placeholder="email@mail.com"
            />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              [formControl]="senha"
              required=""
              [(ngModel)]="creds.senha"
              name="senha"
              type="password"
              matInput
              placeholder="Ex. 123"
            />
            <mat-icon matSuffix>key</mat-icon>
          </mat-form-field>
          <button
            (click)="logar()"
            [disabled]="!validaCampos()"
            class="full-width"
            mat-flat-button
            color="primary"
          >
            Entrar
          </button>
        </form>
      </div>
      <mat-divider></mat-divider>
      <h4>Entre em contato para ativar a sua conta <a href="#">aqui</a></h4>
    </mat-card-content>
  </mat-card>
  <h5>Desenvolvido por GVFS - Guilherme Sousa</h5>
  <mat-divider class="divider-footer"></mat-divider>
</mat-drawer-container>

