.background {
    height: 96%;
}

.toolbar {
    height: 4%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30rem;
    display: flex;
    padding: 15px !important;
    margin: auto;
    margin-top: 10%;
}

@media only screen and (max-width:480px) {
    .card {
        width: 88%;
        margin: auto;
        margin-top: 10px;
        display: flex;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 4rem, 2rem;

}

.form {
    margin-bottom: 25px;
}

h1 {
    width: 100%;
    text-align: center;
}

.full-width {
    width: 100%;
}

img {
    width: 40%;
    display: block;
    margin: 0 auto; 
    margin-bottom: 30px;
}

button {
    margin-top: 15px;
}

mat-icon {
    opacity: .6;
}