<mat-drawer-container class="background" autosize>
  <mat-card class="card mat-elevation-z2">
    <mat-card-content>
      <div class="container">
        <form class="form">
          <h1>HelpDesk - gfvs</h1>
          <img src="assets/img/login-img.png" alt="Help Desk - gvfs" />
          <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input
              [formControl]="email"
              required=""
              [(ngModel)]="creds.email"
              name="email"
              matInput
              placeholder="email@mail.com"
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input
              [formControl]="senha"
              required=""
              [(ngModel)]="creds.senha"
              name="senha"
              type="password"
              matInput
              placeholder="Ex. 123"
            />
          </mat-form-field>
          <button
            (click)="logar()"
            [disabled]="!validaCampos()"
            class="full-width"
            mat-flat-button
            color="primary"
          >
            Entrar
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</mat-drawer-container>
