.container {
    height: 100%;
}

.material-icons {
    margin-right: 12px;
}

.nav-list {
    width: 200px;
}

img {
    width: 70%;
    height: 6rem;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu {
    margin-right: 15px;

}


.toolbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color:#b18c28;
}

.logo-icon {
    font-size: 45px;
}

.logo-nome {
    margin-left: 10px;
    position: initial;
}

.logout-item {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.logout-text {
    font-size: 12px;
}

mat-divider {
    background-color: #9c9c9c;
}

.card {
    width: 96%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}
