<mat-drawer-container class="container" autosize>
<mat-toolbar class="toolbar" color="primary">
  <div class="left">
    <button
      class="menu"
      (click)="drawer.toggle()"
      mat-icon-button
      matTooltip="Expandir/recolher menu">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>

    <span class="logo-nome">GOHELPDESK</span>
  </div>

  <div class="logout-item">
    <button class="logout" (click)="logout()" mat-icon-button>
      <mat-icon class="logout-icon">logout</mat-icon>
      <span class="logout-text">Sair</span>
    </button>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>

  <mat-drawer #drawer class="sidenav" mode="side">
    <img src="assets/img/side-image.png" alt="Imagem de navegação" />
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink="tecnicos">
        <i class="material-icons">account_circle</i>
        Técnicos
      </a>
      <a mat-list-item routerLink="clientes">
        <i class="material-icons">person</i>
        Clientes
      </a>
      <a mat-list-item routerLink="chamados">
        <i class="material-icons">support</i>
        Chamados
      </a>
      <a mat-list-item href="https://github.com/GuilhermeVFSousa/helpdesk-frontend" target="_blank">
        <i class="material-icons">code</i>
        Github
      </a>
      <a mat-list-item (click)="logout()">
        <i class="material-icons">logout</i>
        Logout
      </a>
    </mat-nav-list>
  </mat-drawer>
  <div class="content">
    <mat-card class="card">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</mat-drawer-container>
