.container {
    height: 100%;
}

.material-icons {
    margin-right: 12px;
}

.nav-list {
    width: 200px;
}

img {
    width: 80%;
    height: 8rem;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    filter: brightness(0) invert(1);
}

img:hover {
    width: 80%;
    height: 8rem;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    filter: none;
    cursor: pointer;
}

.menu {
    margin-right: 15px;

}


.toolbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo-icon {
    font-size: 45px;
}

.logo-nome {
    margin-left: 10px;
    position: initial;
}

.logout-item {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.logout-text {
    font-size: 12px;
}

mat-divider {
    background-color:#9e5236;
}

.card {
    width: 96%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

i {
    font-size: 20px;
}

a:hover {
    color: #d55122;
}

@media only screen and (max-width:480px) {
    .container {
       width: 100%;
    }

 }
